primaryColor = #90978D
secondaryColor = #565C68
thirdColor = #EEEEEE

hoverFontColor = #333333
primaryAccentColor = #9F2B11
secondaryAccentColor = #565883

mainFont = #5D6359

primaryBg = #FFFFFF
secondaryBg = #EEEEEE
thirdBg = #F0F0F0
ringBg = #333333

fontsize = 16px
lineHeight = 20.8px

sm = 768px
md = 1024px
lg = 1280px
xl = 1400px
xxl = 1920px
min = 'min-width'
max = 'max-width'

// containersPadding = calc((100% - 1200px) / 2)