.search
	&__content
		min-height 460px
	&__form
		margin 16px 0 12px

	&__error
		margin-top 40px

		text-align center
		font-weight 400
		font-size 20px
		line-height 28px
		color #BAC0B7
		@media({min} sm)
			font-size 24px
